<form action="{:url()}" method="post" class="form_single">
    <div class="box">
      <div class="box-body">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label>图片</label>
                      <span class="">（请上传单张封面图片）</span>
                      <br/>
                      {assign name="img" value="$info.img|default='0'" /}
                      {:widget('file/index', ['name' => 'img', 'value' => $img, 'type' => 'img'])}
                  </div>
              </div>
          </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label>链接地址</label>
                      <span class="">（url（）或者外链）</span>
                      <input class="form-control" name="url" placeholder="请输入链接地址" value="{$info['url']|default=''}" type="text">
                  </div>
              </div>
            </div>


          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label>类型</label>
                      <span class="">（首页）</span>
                      <select name = "type" id = ""  class="form-control">
                          <option value = "0" >首页</option >
                      </select >
                  </div>
              </div>
          </div>



          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label>排序</label>
                      <span class="">（排序从小到大）</span>
                      <input class="form-control" name="sort" placeholder="请输入排序" value="{$info['sort']|default='0'}" type="text">
                  </div>
              </div>
          </div>

          <div class="box-footer">

            <input type="hidden" name="id" value="{$info['id']|default='0'}"/>

            {include file="layout/edit_btn_group"/}

          </div>
        
    </div>
  </div>
</form>