<div class="container-box">


    <section class="container">
        <div class="content-wrap">
            <div class="content">
                <div class="jumbotron">
                    <h1>欢迎访问张浩博客</h1>
                    <p>在这里可以看到前端技术，后端程序，网站内容管理系统等文章，还有我的程序人生！</p>
                </div>

                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {volist name="banner_list" id="vo"}
                        <div class="swiper-slide">
                            <a href="" target="_blank"><img src="{$vo.img|get_picture_url}" alt="" class="img-responsive"></a>
                        </div>
                        {/volist}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <script>
                    var swiper = new Swiper('.swiper-container', {
                        slidesPerView: 1,
                        spaceBetween: 30,
                        loop: true,
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true,
                        },
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                    });
                </script>



                <!--今日推荐-->
                {include file="layout/tuijian"/}

                <div class="title">
                    <h3>最新发布</h3>
                    <!--标签-->
                    <div class="more">
                        {volist name="tag_list" id="vo" length="5"}
                        <a href="{:url('index/index',['tid'=>$vo['id']])}">{$vo.name}</a>
                        {/volist}
                        <a href = "{:url('tag/index')}" >  更多>> </a >
                    </div>

                </div>
                <!--文章-->
                {empty name="article_list"}
                    <p class="empty">
                        暂无文章
                    </p>

                {else /}
                    {volist name="article_list" id="vo"}
                <article class="excerpt excerpt-1">
                    <a class="focus" href="{:url('article/detail',['id'=>$vo['id']])}" title="">
                        <img class="thumb" data-original="{$vo.cover_id|get_picture_url}" src="{$vo.cover_id|get_picture_url}" alt="">
                    </a>
                    <header>
                        <a class="cat" href="{:url('index/index',['cid'=>$vo['category_id']])}">{$vo.category_name}<i></i></a>
                        <h2><a href="{:url('article/detail',['id'=>$vo['id']])}" title="{$vo.name}">{$vo.name}</a></h2>
                    </header>
                    <p class="meta">
                        <time class="time"><i class="glyphicon glyphicon-time"></i> {$vo.create_time}</time>
                        <span class="views"><i class="glyphicon glyphicon-eye-open"></i> 共{$vo.hits}人围观</span>
                        <a class="comment" href="{:url('article/detail',['id'=>$vo['id']])}#comment">
                            <i class="glyphicon glyphicon-comment"></i> {$vo.comment_num}个不明物体
                        </a>
                    </p>
                    <p class="note">{$vo.content_t}</p>
                </article>
                    {/volist}
                    <!--分页-->
                    <div class="box-footer clearfix text-center">
                        {$article_list->render()}
                    </div>
                {/empty}
            </div>
        </div>
        <!--边栏-->
        {include file="layout/sidebar"/}
    </section>

