<div style="position: fixed;bottom: 0;right: 0;left: 0;top: 0;z-index: -2" id="floor">

</div>
<script type="text/javascript" src="__STATIC__/module/resource/canvas-nest.js-master/dist/canvas-nest.umd.js"></script>
<script type="text/javascript">
    var cn = new CanvasNest(document.getElementById('floor'), {
        color: '0,0,0',
        count: 100,
    });
</script>
<script src="__STATIC__/module/home/js/bootstrap.min.js"></script>
<script src="__STATIC__/module/home/js/jquery.ias.js"></script>
<script src="__STATIC__/module/home/js/scripts.js"></script>
<script src="__STATIC__/module/home/js/mess.js"></script>
<script src="__STATIC__/module/common/toastr/toastr.min.js"></script>
<script src="__STATIC__/module/admin/ext/adminlte/plugins/iCheck/icheck.min.js"></script>
<script src="__STATIC__/module/admin/js/onebase.js"></script>

</body>
</html>
