<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>张浩博客</title>
    <meta name="keywords" content="张浩博客,张浩,PHP张浩,张浩个人站,后端工程师,后台码农"/>
    <meta name="description" content="张浩的个人博客，专注技术，动力源于兴趣，好学才能恒久。" />

    <link rel="stylesheet" type="text/css" href="__STATIC__/module/home/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/module/home/css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/module/home/css/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/module/home/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/module/home/images/icon/icon.png">
    <link rel="shortcut icon" href="__STATIC__/module/home/images/icon/favicon.ico">
    <link rel="stylesheet" href="__STATIC__/module/common/toastr/toastr.min.css">
    <link rel="stylesheet" href="__STATIC__/module/home/css/swiper.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/module/home/css/mess.css">
    <script src="__STATIC__/module/home/js/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__/module/home/js/nprogress.js"></script>
    <script src="__STATIC__/module/home/js/jquery.lazyload.min.js"></script>
    <script src="__STATIC__/module/home/js/swiper.js"></script>
    <script src="__STATIC__/module/home/js/jquery.qqFace.js"></script>
    </head>

<body class="user-select">