<!--微信二维码模态框-->
<div class="modal fade user-select" id="WeChat" tabindex="-1" role="dialog" aria-labelledby="WeChatModalLabel">
    <div class="modal-dialog" role="document" style="margin-top:120px;max-width:280px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="WeChatModalLabel" style="cursor:default;">微信扫一扫</h4>
            </div>
            <div class="modal-body" style="text-align:center"> <img src="__STATIC__/module/home/images/weixin.jpg" alt="" style="cursor:pointer"/> </div>
        </div>
    </div>
</div>
<!--该功能正在日以继夜的开发中-->
<div class="modal fade user-select" id="areDeveloping" tabindex="-1" role="dialog" aria-labelledby="areDevelopingModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="areDevelopingModalLabel" style="cursor:default;">该功能正在日以继夜的开发中…</h4>
            </div>
            <div class="modal-body"> <img src="__STATIC__/module/home/images/baoman/baoman_01.gif" alt="深思熟虑" />
                <p style="padding:15px 15px 15px 100px; position:absolute; top:15px; cursor:default;">很抱歉，程序猿正在日以继夜的开发此功能，本程序将会在以后的版本中持续完善！</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">朕已阅</button>
            </div>
        </div>
    </div>
</div>
<!--登录模态框-->
<div class="modal fade user-select" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{:url('home/login/login')}" method="post"  class="form_single">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">登录</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="loginModalUserNmae">用户名</label>
                        <input type="text" class="form-control" id="loginModalUserNmae" placeholder="请输入用户名" name="username" autofocus maxlength="50" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="loginModalUserPwd">密码</label>
                        <input type="password" class="form-control" id="loginModalUserPwd" placeholder="请输入密码" name="password" maxlength="30" autocomplete="off" required>
                    </div>
                    <div  class="form-group">
                        <label for="loginModalUserPwd">验证码</label>
                        <div class="">
                            <img src="{:captcha_src()}" alt="captcha" class="home-login-captcha-img captcha_change" id="captcha_img"/>
                        </div>
                        <div class="row magin-top-20">
                            <div class="col-xs-8">
                                <input type="text" name="verify" class="form-control verify" placeholder="请输入您的验证码">
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-primary btn-block btn-flat captcha_change">换一张</button>
                            </div>
                            <!-- /.col -->
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary ajax-post" target-form="form_single">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--注册模态框-->
<div class="modal fade user-select" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="registerModalLabel">注册</h4>
                </div>
            <form action = "{:url('login/register')}" method="post" class="form_register">

                <div class="modal-body">

                    <div class="form-group">
                        <label for="registerModalUserNmae">用户名(仅限邮箱号)</label>
                        <input type="text" class="form-control" id="registerModalUserNmae" name="username" placeholder="请使用邮箱作为用户名" autofocus maxlength="50" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="registerModalNickNmae">昵称</label>
                        <input type="text" class="form-control" id="registerModalNickNmae" name="nickname" placeholder="请输入昵称,长度为15个字符" autofocus maxlength="15" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="registerModalUserPwd">密码</label>
                        <input type="password" class="form-control" id="registerModalUserPwd" name="password" placeholder="请输入密码，6-20字符" maxlength="20" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="registerModalUserPwdRe">重输密码</label>
                        <input type="password" class="form-control" id="registerModalUserPwdRe" name="password_confirm" placeholder="请再次输入密码，6-20字符" maxlength="20" autocomplete="off" required>
                    </div>
                    <div class=" form-group">
                        <span class="tips-text"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary register-btn ajax-post" target-form="form_register">确定</button>
                </div>
            </form >

        </div>
    </div>
</div>
<!--右键菜单列表-->
<div id="rightClickMenu">
    <ul class="list-group rightClickMenuList">
        <li class="list-group-item disabled">欢迎访问张浩博客</li>
        <li class="list-group-item"><span>IP：</span>172.16.10.129</li>
        <li class="list-group-item"><span>地址：</span>河南省郑州市</li>
        <li class="list-group-item"><span>系统：</span>Windows10 </li>
        <li class="list-group-item"><span>浏览器：</span>Chrome47</li>
    </ul>
</div>

</div>