<link rel = "stylesheet" href = "__STATIC__/widget/admin/editor/ueditor/themes/default/css/ueditor.css" >
<script type="text/javascript">
var arr = [
        static_root + 'widget/admin/editor/ueditor/ueditor.config.js',
        static_root + 'widget/admin/editor/ueditor/ueditor.all.js',
         static_root + 'widget/admin/editor/ueditor/ueditor.parse.js',
//        static_root + 'widget/admin/editor/ueditor/lang/zh-cn/zh-cn.js',
];
ob.loadMultiScripts(arr).done(function() {
                var editor_{$widget_data.name} = UE.getEditor('{$widget_data.name}',{
                        initialFrameWidth :'100%',//设置编辑器宽度
                        initialFrameHeight: '{$widget_config.editor_height}',//设置编辑器高度
                        scaleEnabled:true,
//                serverUrl:"{:url('widget/editorPictureUpload')}",
                });

}).fail(function(){

  alert('ueditor加载失败...');
});
</script>
